{% extends "base.html" %}
{% load static %}
{% block title %}Поговорим о птицах{% endblock %}
{% block content %}
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <a href="#"><h2 class="featurette-heading">Заголовок статьи</h2></a>
          <p class="lead">Текст-текст-текст-текст-текст-текст-текст-текст-текст-текст-текст-текст-текст-текст-текст.</p>
        </div>
        <a href="#"><div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://dummyimage.com/300/09f/fff.png" alt="Generic placeholder image">
        </div></a>
      </div>
      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->
    </div>
{% endblock %}