{% extends "base.html" %}
{% load static %}
{% block title %}Joker{% endblock %}
{% block content %}
    <br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <img src="{% if your_feeders_types.image %}{{ your_feeders_types.image.url }}{% else %}{% static "img/custom_feeder.jpg" %}{% endif %}" height="250" alt="" onclick="changeSizeImage(this)">
            <p>Нажми для увеличения</p>
            <h2>{{ your_feeders_type_detail.title }}</h2>
            <h3>{{ your_feeders_type_detail.price }} грн.</h3>
            <p>{{ your_feeders_type_detail.text }}</p>
            <hr>
        <p style="text-align: center;">
          <a href="{% url 'your_feeders:feeders_types' %}">
            <button class="btn btn-primary" type="button">К списку кормушек</button>
          </a>
        </p>
        <div id="disqus_thread"></div>
      <div class="col-md-1"></div>
      </div>
      </div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//happybirdscfepythonanymherecom.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}