{% load static from staticfiles %}
      <div class="masthead">
        <h3 class="te1xt-muted" style=" font-size: 40px; font-family: 'Lobster', cursive;">Поговорим о птицах</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Поговорим о птицах <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'birdie_talks:birdie_talks' %}">Подкормка</a></li>
            <li><a href="{% url 'birdie_talks:recommendation_articles' %}">Рекомендации</a></li>
            <li><a href="{% url 'birdie_talks:feeders_types' %}">Виды кормушек</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'birdie_talks:forum' %}">Форум</a></li>
          </ul>
        </li>
            <li><a href="#">Ваши кормушки</a></li>
            <li><a href="#">Наши кормушки</a></li>
            <li><a href="#">Корм для птиц</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>